@* CompanyInviteCreate *@
@page "/company/invite"
@using WonderDevTracker.Services.Interfaces
@attribute [Authorize(Roles = nameof(Role.Admin))]

@inject IProjectDTOService ProjectService
@inject IInviteDTOService InviteService
@inject IndexTrackerHelper IndexTracker
@inject NavigationManager NavManager
@inject ISnackbar Snackbar

@inherits AuthenticatedComponentBase

<PageTitle>Create Invitee Email | Dev Tracker</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
	<MudBreadcrumbs Items="breadcrumbs" Class="breadcrumbs1" />

	<MudPaper Class="p-3">

		<AnimatedBlock Index="@Index.Next()">
			<TitleComponentPage Title="Invite a New Member" />
		</AnimatedBlock>

		<AnimatedBlock Index="@Index.Next()">
			<MudDivider Class="mb-3" />
			<Instructions Title="Fill out the form below to invite someone to join the company."
						  Message="Tip: The invitee will receive an email with instructions on how to join."
						  StartIcon="@Icons.Material.Filled.Email" />
		</AnimatedBlock>
		<AnimatedBlock Index="@Index.Next()">
			<EditForm Model="invite"
					  class="vstack gap-3"
					  OnValidSubmit="HandleValidSubmit">
				<DataAnnotationsValidator />
				<AnimatedBlock Index="@Index.Next()">

					<MudTextField @bind-Value="invite.InviteeFirstName"
								  For="() => invite.InviteeFirstName"
								  Label="Invitee First Name"
								  Variant="Variant.Outlined"
								  Required="true"
								  OnlyValidateIfDirty="true" />

					<MudTextField @bind-Value="invite.InviteeLastName"
								  For="() => invite.InviteeLastName"
								  Label="Invitee Last Name"
								  Variant="Variant.Outlined"
								  Required="true"
								  OnlyValidateIfDirty="true" />
				</AnimatedBlock>

				@* projectId(dropdown) *@
				<AnimatedBlock Index="@Index.Next()">
					<MudSelect @bind-Value="invite.ProjectId"
							   For="() => invite.ProjectId"
							   Label="Project"
							   Variant="Variant.Outlined"
							   Required="true"
							   OnlyValidateIfDirty="true"
							   Placeholder="Select a project . . .">
						@foreach (ProjectDTO project in projects)
						{
							//nullable int needed here in order for the property to remain null until a dropdown value was selected.
							<MudSelectItem T="int?" Value="@project.Id"> @project.Name </MudSelectItem>
						}
					</MudSelect>

					<ValidationMessage For="() => invite.ProjectId" />
				</AnimatedBlock>

				<AnimatedBlock Index="@Index.Next()">
					<MudTextField @bind-Value="invite.InviteeEmail"
								  For="() => invite.InviteeEmail"
								  Label="Invitee Email Address"
								  Variant="Variant.Outlined"
								  Required="true"
								  OnlyValidateIfDirty="true" />
				</AnimatedBlock>

				<AnimatedBlock Index="@Index.Next()">
					<MudTextField @bind-Value="invite.Message"
								  For="() => invite.Message"
								  Label="Message(Optional)"
								  Variant="Variant.Outlined"
								  Lines="5"
								  MaxLines="15"
								  AutoGrow="true" />
				</AnimatedBlock>

				<AnimatedBlock Index="@Index.Next()">
					<div class="d-flex justify-content-between">
						<BackToBtn Href="/company" Text="Back to Company" />

						<SubmitBtn DisplayText="Send Invite"
								   StartIcon="@Icons.Material.Filled.Send"
								   ButtonType="ButtonType.Submit" />

					</div>
				</AnimatedBlock>
			</EditForm>
		</AnimatedBlock>
	</MudPaper>
</MudContainer>

@code {
	private IEnumerable<ProjectDTO> projects = [];
	private InviteDTO invite = new() { JoinDate = DateTimeOffset.UtcNow };
	private static readonly List<BreadcrumbItem> breadcrumbs = new()
	{
	   new BreadcrumbItem("Home", href:"/" ),
	   new BreadcrumbItem("Company", href:"/company" ),
	   new BreadcrumbItem("Invite a New Member", href:null, disabled: true ),

	};
	private readonly IndexTrackerHelper Index = new();
	private string? InviteeFullName => $"{invite.InviteeFirstName} {invite.InviteeLastName}";

	#region LIFECYCLE METHODS
	protected override void OnParametersSet() => Index.Reset();

	protected override async Task OnInitializedWithAuthAsync()
	{
		try
		{
			projects = await ProjectService.GetAllProjectsAsync(UserInfo!);

		}
		catch (Exception ex)
		{
			Console.Error.WriteLine($"Error loading data: {ex.Message}");
			Snackbar.Add("Unable to load data. Please try again later.", Severity.Error);
		}

		invite.InviteDate = DateTimeOffset.UtcNow;
		invite.InvitorId = UserInfo!.UserId;
	}
	#endregion


	private async Task HandleValidSubmit()
	{
		bool created = false;
		bool sent = false;
		InviteDTO? createdInvite = null;

		try
		{
			//1.try to create invite
			createdInvite = await InviteService.CreateInviteAsync(invite, UserInfo!);
			created = true;

		}
		catch (Exception ex)
		{

			Console.Error.WriteLine($"Error creating invite: {ex.Message}");
			Snackbar.Add("Unable to create invitation. Please try again.", Severity.Error);
			return;
		}

		try
		{
			//2.try to send invite
			sent = await InviteService.SendInviteAsync(new Uri(NavManager.BaseUri), createdInvite.Id, UserInfo!);

		}
		catch (Exception ex)
		{

			Console.Error.WriteLine($"Error sending invite: {ex.Message}");
			

		}

		//3. display appropriate message

		//invite was created AND successfully sent
		if (sent) Snackbar.Add($"Invite email sent to {InviteeFullName}!", Severity.Success);

		//invite was created but email not successfully sent
		else if (created && !sent)
		{
			Snackbar.Add($"Invite to {InviteeFullName} created but could not be sent now. Please try again.", 
			             Severity.Warning);
		}

		if (sent || created) NavManager.NavigateTo("/company");
	}
}
