@* CompanyInviteCreate *@
@page "/company/invite"
@using WonderDevTracker.Services.Interfaces
@attribute [Authorize(Roles = nameof(Role.Admin))]

@inject IProjectDTOService ProjectService
@inject IInviteDTOService InviteService
@inject IndexTrackerHelper IndexTracker
@inject NavigationManager NavManager
@inject ISnackbar Snackbar

@inherits AuthenticatedComponentBase

<PageTitle>Create Invite Email | Dev Tracker</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
	<MudBreadcrumbs Items="breadcrumbs" Class="breadcrumbs1" />

	<MudPaper Class="p-3">
		<AnimatedBlock Index="@Index.Next()">
			<MudText Typo="Typo.h2" Color="Color.Primary" GutterBottom>
				Invite a New Member
			</MudText>
		</AnimatedBlock>

		<AnimatedBlock Index="@Index.Next()">
			<MudDivider Class="mb-3" />
			<Instructions Title="Fill out the form below to invite someone to join your company."
					  Message="The invitee will receive an email with instructions on how to join." 
					  StartIcon="@Icons.Material.Filled.Email"
					  Typo1="Typo.subtitle1"
					  Typo2="Typo.caption"/>
		</AnimatedBlock>
		<AnimatedBlock Index="@Index.Next()">
					  <EditForm Model="invite"
				  class="vstack gap-3"
				  OnValidSubmit="HandleValidSubmit">
			<DataAnnotationsValidator />
			<AnimatedBlock Index="@Index.Next()">

				<MudTextField @bind-Value="invite.InviteeFirstName"
							  For="() => invite.InviteeFirstName"
							  Label="Invitee First Name"
							  Variant="Variant.Outlined"
							  Required="true"
							  OnlyValidateIfDirty="true" />

				<MudTextField @bind-Value="invite.InviteeLastName"
							  For="() => invite.InviteeLastName"
							  Label="Invitee Last Name"
							  Variant="Variant.Outlined"
							  Required="true"
							  OnlyValidateIfDirty="true" />
			</AnimatedBlock>

			@* projectId(dropdown) *@
			<AnimatedBlock Index="@Index.Next()">
				<MudSelect @bind-Value="invite.ProjectId"
						   For="() => invite.ProjectId"
						   Label="Project"
						   Variant="Variant.Outlined"
						   Required="true"
						   OnlyValidateIfDirty="true"
						   Placeholder="Select a project . . .">
					@foreach (ProjectDTO project in projects)
					{
						//nullable int needed here in order for the property to remain null until a dropdown value was selected.
						<MudSelectItem T="int?" Value="@project.Id"> @project.Name </MudSelectItem>
					}
				</MudSelect>

				<ValidationMessage For="() => invite.ProjectId" />
			</AnimatedBlock>

			<AnimatedBlock Index="@Index.Next()">
				<MudTextField @bind-Value="invite.InviteeEmail"
							  For="() => invite.InviteeEmail"
							  Label="Invitee Email Address"
							  Variant="Variant.Outlined"
							  Required="true"
							  OnlyValidateIfDirty="true" />
			</AnimatedBlock>

			<AnimatedBlock Index="@Index.Next()">
				<MudTextField @bind-Value="invite.Message"
							  For="() => invite.Message"
							  Label="Message(Optional)"
							  Variant="Variant.Outlined"
							  Lines="5"
							  MaxLines="15"
							  AutoGrow="true" />
			</AnimatedBlock>

			<AnimatedBlock Index="@Index.Next()">
				<div class="d-flex justify-content-between">
					<BackToBtn Href="/company" Text="Back to Company" />

					<SubmitBtn DisplayText="Send Invite"
							   StartIcon="@Icons.Material.Filled.Send"
							   ButtonType="ButtonType.Submit" />

				</div>
			</AnimatedBlock>
		</EditForm>
		</AnimatedBlock>
	</MudPaper>
</MudContainer>

@code {
	private IEnumerable<ProjectDTO> projects = [];
	private InviteDTO invite = new() { JoinDate = DateTimeOffset.UtcNow };
	private readonly IndexTrackerHelper Index = new();
	private string? InviteeFullName => $"{invite.InviteeFirstName} {invite.InviteeLastName}";
	protected override void OnParametersSet() => Index.Reset();

	protected override async Task OnInitializedWithAuthAsync()
	{
		try
		{
			projects = await ProjectService.GetAllProjectsAsync(UserInfo!);

		}
		catch (Exception ex)
		{
			Console.Error.WriteLine($"Error loading data: {ex.Message}");
			Snackbar.Add("Unable to load data. Please try again later.", Severity.Error);
		}

		invite.InviteDate = DateTimeOffset.UtcNow;
		invite.InvitorId = UserInfo!.UserId;
	}


	private static readonly List<BreadcrumbItem> breadcrumbs = new()
	{
	   new BreadcrumbItem("Home", href:"/" ),
	   new BreadcrumbItem("Company", href:"/company" ),
	   new BreadcrumbItem("Invite a New Member", href:null, disabled: true ),

	};

	private async Task HandleValidSubmit()
	{
		bool success = false;

		try
		{
			await InviteService.CreateInviteAsync(invite, UserInfo!);
			success = true;

		}
		catch (Exception ex)
		{

			Console.Error.WriteLine($"Error creating project: {ex.Message}");
			Snackbar.Add("Unable to create invite. Please try again.", Severity.Error);
			return;
		}
		if (success)
		{
			Snackbar.Add($"Invite to {InviteeFullName} created successfully!", Severity.Success);
			NavManager.NavigateTo("/company");
		}
	}
}
