@* CompanyInviteCreate *@
@page "/company/invite"
@attribute [Authorize(Roles = nameof(Role.Admin))]

@inject IProjectDTOService ProjectService
@inject NavigationManager NavManager
@inject ISnackbar Snackbar

@inherits AuthenticatedComponentBase

<PageTitle>Create Invite Email | Dev Tracker</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
	<MudBreadcrumbs Items="breadcrumbs" Class="breadcrumbs1" />

	<MudPaper Class="p-3">
		<AnimatedBlock Index="@Index.Next()">
			<MudText Typo="Typo.h3" GutterBottom>
				Invite a New Member
			</MudText>
		</AnimatedBlock>
		<EditForm Model="invite"
				  Class="vstack gap-3">
			<DataAnnotationsValidator />
			<AnimatedBlock Index="@Index.Next()">

				<MudTextField @bind-Value="invite.InviteeFirstName"
							  For="() => invite.InviteeFirstName"
							  Label="Invitee First Name"
							  Variant="Variant.Outlined"
							  Required="true"
							  OnlyValidateIfDirty="true" />

				<MudTextField @bind-Value="invite.InviteeLastName"
							  For="() => invite.InviteeLastName"
							  Label="Invitee Last Name"
							  Variant="Variant.Outlined"
							  Required="true"
							  OnlyValidateIfDirty="true" />
			</AnimatedBlock>

			@* projectId(dropdown) *@
			<AnimatedBlock Index="@Index.Next()">
				<MudSelect @bind-Value="invite.ProjectId"
						   For="() => invite.ProjectId"
						   Label="Project"
						   Variant="Variant.Outlined"
						   Required="true"
						   OnlyValidateIfDirty="true"
						   Placeholder="Select a project . . .">
					@foreach (ProjectDTO project in projects)
					{
						//nullable int needed here in order for the property to remain null until a dropdown value was selected.
						<MudSelectItem T="int?" Value="@project.Id"> @project.Name </MudSelectItem>
					}
				</MudSelect>

				<ValidationMessage For="() => invite.ProjectId" />
			</AnimatedBlock>

			<AnimatedBlock Index="@Index.Next()">
				<MudTextField @bind-Value="invite.InviteeEmail"
							  For="() => invite.InviteeEmail"
							  Label="Invitee Email Address"
							  Variant="Variant.Outlined"
							  Required="true" 
							  OnlyValidateIfDirty="true" />
			</AnimatedBlock>

			<AnimatedBlock Index="@Index.Next()">
				<MudTextField @bind-Value="invite.Message"
							  For="() => invite.Message"
							  Label="Message(Optional)"
							  Variant="Variant.Outlined"
							  Lines="5"
							  MaxLines="15"
							  AutoGrow="true" />
			</AnimatedBlock>

			<AnimatedBlock Index="@Index.Next()">
				<div class="d-flex justify-content-between">
					<BackToBtn Href="/company" Text="Back to Company" />

					<SubmitBtn DisplayText="Send Invite"
							   StartIcon="@Icons.Material.Filled.Send"
							   ButtonType="ButtonType.Submit" />

				</div>
			</AnimatedBlock>
		</EditForm>
	</MudPaper>
</MudContainer>

@code {
	private IEnumerable<ProjectDTO> projects = [];
	private InviteDTO invite = new() { JoinDate = DateTimeOffset.UtcNow };
	private readonly IndexTrackerHelper Index = new();

	protected override void OnParametersSet() => Index.Reset();

	protected override async Task OnInitializedWithAuthAsync()
	{

		projects = await ProjectService.GetAllProjectsAsync(UserInfo!);
		invite.InviteDate = DateTimeOffset.UtcNow;
		invite.InvitorId = UserInfo!.UserId;
	}


	private static readonly List<BreadcrumbItem> breadcrumbs = new()
	{
	   new BreadcrumbItem("Home", href:"/" ),
	   new BreadcrumbItem("Company", href:"/company" ),
	   new BreadcrumbItem("Invite a New Member", href:null, disabled: true ),

	};
	// private async Task HandleValidSubmit()
	// {
	// 	try
	// 	{
	// 		project = await ProjectService.CreateProjectAsync(project, UserInfo!);
	// 		Snackbar.Add($"{project.Name} created successfully!", Severity.Success);
	// 	}
	// 	catch (Exception ex)
	// 	{
	// 		// Handle error, e.g., show a message to the user
	// 		Console.Error.WriteLine($"Error creating project: {ex.Message}");
	// 		Snackbar.Add("Unable to create project. Please try again.", Severity.Error);
	// 		return;
	// 	}
	// 	NavManager.NavigateTo($"/projects/{project.Id}");
	// }
}
