@* TicketAttachment *@
<AnimatedCard Index="Index">
	<MudPaper>
		<MudCardHeader>
			<MudText Typo="Typo.h3" Color="Color.Primary">Attachments</MudText>
		</MudCardHeader>
		<div>
			@if (ticket?.Attachments.Any() == true)
			{
				@foreach (var attachment in ticket.Attachments)
				{
					<div>@attachment.FileName</div>
				}
			}
			else
			{
				<div class="d-flex align-items-center justify-content-center" style="min-height:150px;">
					<NotFoundDisplay Message="No Ticket Attachments to Display" />
				</div>

			}
			@if (UserCanEditTicket)
			{
				<SafeNavButton TypeText="Upload Attachment"
							   Class="project-details-link"
							   Color="Color.Secondary"
							   Disabled="false"
							   StartIcon="@Icons.Material.Filled.Add"
							   Variant="Variant.Text"
							   OnClick="async () => await _attachmentDialog.ShowAsync()" />
				@* <InputFile OnChange="OnUploadRequested" /> *@
			}
		</div>
	</MudPaper>
</AnimatedCard>

@*Attachment Dialog*@
<MudMessageBox @ref="_attachmentDialog"
			   Title="Upload Attachment"
			   CancelText="Cancel">
	<MessageContent>
		<MudFileUpload T="IBrowserFile" 
			FilesChanged="@HandleFilesChange"
		MaximumFileCount="1">
			<ActivatorContent>
				<div class="d-flex flex-column align-items-center">
					<MudCard>
						@*TOO: add image preview*@
						<MudCardContent>
							<MudText Typo="Typo.h6" Align="Align.Center">@(_selectedFile?.Name ?? "No File Selected")</MudText>
						</MudCardContent>
					</MudCard>
					<!-- This button opens the file picker. Don't disable it.. -->
					<SafeNavButton TypeText="Select a File"
								   Color="Color.Primary"
								   Variant="Variant.Filled"
								   Class="my-3"
								   StartIcon="@Icons.Material.Filled.UploadFile"
								   OnClick="async () =>
		   		   {
			   		   if (_selectedFile is not null)
			   		   {
				   		   await OnUploadRequested.InvokeAsync(new AttachmentUploadRequest(_selectedFile, _newAttachment.Description ?? string.Empty));
				   		   _attachmentDialog?.Close();
			   		   }
		   		   }" />

				</div>
			</ActivatorContent>
		</MudFileUpload>
		<MudTextField T="string"
					  Variant="Variant.Outlined"
					  Label="Description"
					  @bind-Value="_newAttachment.Description"
					  For="()=> _newAttachment.Description" />
	</MessageContent>
	<YesButton>
		<DialogConfirmBtn TypeText="Upload"
						  Color="Color.Success"
						  Class="ms-2"
						  StartIcon="@Icons.Material.Filled.Upload"
						  OnClick="async () =>
				  		{
					  		if (_selectedFile is null) return;

					  		var req = new AttachmentUploadRequest(_selectedFile, _description ?? string.Empty);
					  		await OnUploadRequested.InvokeAsync(req);

					  		_attachmentDialog?.Close();
				  		}" />
	</YesButton>
</MudMessageBox>

@code {
	[Parameter]
	public IEnumerable<TicketAttachmentDTO> Attachments { get; set; } = Array.Empty<TicketAttachmentDTO>();

	[Parameter, EditorRequired]
	public bool UserCanEditTicket { get; set; } = false;

	[Parameter, EditorRequired]
	public int Index { get; set; }

	[Parameter]
	public EventCallback<AttachmentUploadRequest> OnUploadRequested { get; set; }

	[Parameter]
	public EventCallback<TicketAttachmentDTO> OnDeleteRequested { get; set; }

	private MudMessageBox? _attachmentDialog;
	private TicketAttachmentDTO _newAttachment = new() { AttachmentUrl = string.Empty };
	private TicketDTO? ticket;
	private IBrowserFile? _selectedFile;
	private string _description = string.Empty;

	private void HandleFilesChange(IBrowserFile file)
	{
		_selectedFile = file;
		_newAttachment.FileName = _selectedFile?.Name ?? string.Empty;
		
	}

	
}
