@* TicketDetails*@
@page "/tickets/{Id:int}"
@attribute [Authorize]

@inject ITicketDTOService TicketService
@inject IProjectDTOService ProjectService
@inject ICompanyDTOService CompanyService
@inject IAppAuthorizationService AuthService
@inject IndexTrackerHelper IndexTracker
@inject NavigationManager NavManager
@inject ISnackbar Snackbar

@inherits AuthenticatedComponentBase

<MudContainer MaxWidth="MaxWidth.Large" Class="py-4 page-container" Style="height: 100%; position: relative">
	<MudBreadcrumbs Items="_breadcrumbs" Class="breadcrumbs1" />
	@if (!_loadingComplete)
	{
		<LoadingSpinner Message="Loading project details..." Color="Color.Primary" Size="Size.Large" />
	}
	else if (_ticket is not null)
	{
		@* Reset Index at start of render;
		controls the index for components that use IndexTracker,used to assign order for Animation .*@
		ResetIndex();
		<PageTitle>@_ticket?.Title Details | Dev Tracker</PageTitle>

		<div class="vstack gap-3">

			<TicketGeneralInfo Ticket="_ticket"
							   Index="@IndexTracker.Next()" />
			<!-- Submitter and Developer components -->
			<MudGrid>
				<MudItem xs="12" md="6">
					<TicketSubmitter Ticket="_ticket"
									 Index="@IndexTracker.Next()" />
				</MudItem>

				<MudItem xs="12" md="6">
					<AssignedDeveloper Ticket="_ticket"
									   Index="@IndexTracker.Next()"
									   Developers="_developers"
									   CanAssign="_userCanAssignTicket"
									   OnSaveRequested="HandleAssignDevAsync" />
				</MudItem>
			</MudGrid>

			<!-- Priority, Status & Type components -->
			<TicketMetaRow Index="@IndexTracker.Next()"
						   TPriority="TicketPriority"
						   TStatus="TicketStatus"
						   TType="TicketType"
						   Priority="@_ticket.Priority"
						   Status="@_ticket.Status"
						   Type="@_ticket.Type"
						   CanEdit="@_userCanEditTicket"
						   PriorityChanged="@(p => SavePriorityAsync(p))"
						   StatusChanged="@(s => SaveStatusAsync(s))"
						   TypeChanged="@(t => SaveTypeAsync(t))" />

			<DescriptionCard Title="Ticket Description"
							 Index="@IndexTracker.Next()"
							 Text="@_ticket.Description" />

			<TicketCommentArea Index="@IndexTracker.Next()"
							   Comments="_ticket.Comments"
							   CanComment="CanComment"
							   OnAdd="HandleAddComment"
							   OnEdit="HandleEditComment"
							   OnDelete="HandleDeleteComment" />

			<TicketAttachment Ticket="@_ticket"
							  Attachments="@_ticket.Attachments.ToList()"
							  UserCanEditTicket="_userCanEditTicket"
							  Index="@IndexTracker.Next()"
							  OnUploadRequested="HandleAttachmentUploadAsync"
							  OnDeleteRequested="HandleDeleteAttachmentAsync" />

			<TicketHistory Histories="@_ticket?.History"
						   Index="@IndexTracker.Next()" />
		</div>
		<div class="d-flex mt-2">
			<BackToBtn Href=@($"/projects/{_ticket!.ProjectId}")
					   Text="Back to Project"
					   Disabled="@(_ticket is null)" />
			<div class="ms-auto">
				@if (_userCanEditTicket)
				{
					<MudButton Variant="Variant.Text"
							   StartIcon="@Icons.Material.Filled.Edit"
							   Href="@($"tickets/{_ticket?.Id}/edit")"
							   Disabled="@(_ticket is null)"
							   Color="Color.Tertiary">
						Edit
					</MudButton>
				}
				@if (_userCanArchiveTicket)
				{
					<ArchiveBar IsArchived="_ticket!.Archived"
								UserCanArchiveAndRestore="_userCanArchiveTicket"
								ItemLabel="Ticket"
								Busy="@_processingArchiveRestore"
								OnArchiveRequested="HandleArchiveAsync"
								OnRestoreRequested="HandleRestoreAsync" />
				}
			</div>
		</div>
	}
	else
	{
		<PageTitle>Ticket Not Found | Dev Tracker</PageTitle>

		<NotFoundFull Message="Ticket not found"
					  ReturnUrl="/tickets/open"
					  ReturnLabel="Back to Tickets"
					  ForwardUrl="/tickets/create"
					  ForwardLabel="Create New Ticket" />

	}
</MudContainer>



