@*Login*@
@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using WonderDevTracker.Client.Components.UIComponents.GeneralComponents
@using WonderDevTracker.Client.Helpers.Animation
@using Microsoft.AspNetCore.Identity
@using WonderDevTracker.Client.Components.SharedComponents
@using WonderDevTracker.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in | Dev Tracker</PageTitle>

<div class="d-flex justify-content-center align-items-center min-vh-100">
	<AnimatedCard Elevation="1"
				  Index="@IndexTracker.Peek()">
		<div class="d-flex align-items-center justify-content-center">
			<div class="vstack p-3">
				<TitleComponentPage Subtitle="Login"
									SubtitleTypo="Typo.h4"
									SubtitleColor="Color.Warning">
					<TitleTemplate>
						Welcome to <AppLogoText />
					</TitleTemplate>
				</TitleComponentPage>
				<StatusMessage Message="@errorMessage" />
				<EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
					<DataAnnotationsValidator />
					<hr />
					<ValidationSummary class="text-danger" role="alert" />
					<AnimatedBlock Index="IndexTracker.Next()">
						<div class="mb-3">
							<MudTextField id="Email"
										  @bind-Value="Input.Email"
										  name="Input.Email"
										  Label="Email"
										  For="() => Input.Email"
										  autocomplete="username"
										  aria-required="true"
										  aria-label="Email Sign-in"
										  Placeholder="name@example.com"
										  Variant="Variant.Outlined"
										  ShrinkLabel />
						</div>
					</AnimatedBlock>
					<AnimatedBlock Index="IndexTracker.Next()">
						<div class="mb-3">
							<PasswordField @bind-Value="Input.Password"
										   Label="Password"
										   Name="Input.Password"
										   Autocomplete="current-password" />
							<ValidationMessage For="() => Input.Password" />
						</div>
					</AnimatedBlock>
					<div class="checkbox mb-3">
						<label class="form-label">
							<InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" />
							Remember me
						</label>
					</div>
					<!------ Login Button Group ------>
					<AnimatedBlock Index="IndexTracker.Next()">
						<SubmitBtn Size="Size.Large"
								   Color="Color.Primary"
								   StartIcon="@Icons.Material.Filled.Login"
								   ButtonType="ButtonType.Submit"
								   DisplayText="Login"
								   FullWidth="true" />
					</AnimatedBlock>

					<AnimatedBlock Index="IndexTracker.Next()">
						<SubmitBtn Href="Account/ForgotPassword"
								   Size="Size.Large"
								   Color="Color.Warning"
								   StartIcon="@Icons.Material.Filled.LockReset"
								   ButtonType="ButtonType.Button"
								   DisplayText="Forgot your Password?"
								   FullWidth="true" />
					</AnimatedBlock>

					<AnimatedBlock Index="IndexTracker.Next()">
						<SubmitBtn Href="Account/ResendEmailConfirmation"
								   Size="Size.Large"
								   Color="Color.Secondary"
								   StartIcon="@Icons.Material.Filled.Mail"
								   ButtonType="ButtonType.Button"
								   DisplayText="Resend Email Confirmation"
								   FullWidth="true" />
					</AnimatedBlock>

					<AnimatedBlock>
						<SubmitBtn Href="@NewUserRegister"
								   Size="Size.Large"
								   Color="Color.Success"
								   StartIcon="@Icons.Material.Filled.PersonAdd"
								   ButtonType="ButtonType.Button"
								   DisplayText="Register as a New User"
								   FullWidth="true" />
					</AnimatedBlock>
				</EditForm>
			</div>
		</div>
	</AnimatedCard>
</div>
@code {
	private string? errorMessage;

	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;

	[SupplyParameterFromForm]
	private InputModel Input { get; set; } = new();

	[SupplyParameterFromQuery]
	private string? ReturnUrl { get; set; }

	private IndexTrackerHelper IndexTracker = new();

	private void ResetIndex() => IndexTracker.Reset();

	private string NewUserRegister => NavigationManager.GetUriWithQueryParameters("Account/Register",
									  new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl });

	protected override async Task OnInitializedAsync()
	{
		ResetIndex();
		if (HttpMethods.IsGet(HttpContext.Request.Method))
		{
			// Clear the existing external cookie to ensure a clean login process
			await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
		}
	}

	public async Task LoginUser()
	{
		// This doesn't count login failures towards account lockout
		// To enable password failures to trigger account lockout, set lockoutOnFailure: true
		var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
		if (result.Succeeded)
		{
			Logger.LogInformation("User logged in.");
			RedirectManager.RedirectTo(ReturnUrl);
		}
		else if (result.RequiresTwoFactor)
		{
			RedirectManager.RedirectTo(
				"Account/LoginWith2fa",
				new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
		}
		else if (result.IsLockedOut)
		{
			Logger.LogWarning("User account locked out.");
			RedirectManager.RedirectTo("Account/Lockout");
		}
		else
		{
			errorMessage = "Error: Invalid login attempt.";
		}
	}

	private sealed class InputModel
	{
		[Required]
		[EmailAddress]
		public string Email { get; set; } = "";

		[Required]
		[DataType(DataType.Password)]
		public string Password { get; set; } = "";

		[Display(Name = "Remember me?")]
		public bool RememberMe { get; set; }
	}
}
