@page "/Account/Register/Invite"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using System.Security.Claims
@using WonderDevTracker.Client.Components.SharedComponents
@using WonderDevTracker.Client.Helpers.Animation
@using WonderDevTracker.Helpers
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using WonderDevTracker.Data

@inject IndexTrackerHelper IndexTracker
@inject IInviteRepository InviteRepository
@inject IProjectRepository ProjectRepository
@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext _context
@inject IUserClaimsPrincipalFactory<ApplicationUser> ClaimsFactory

<PageTitle>Register | DevTracker</PageTitle>

<div class="d-flex align-items-center justify-content-center min-vh-100">
	<AnimatedCard Index="@IndexTracker.Peek()">
		@if (inviteError)
		{
			<div class="p-3">
				<InviteErrorDisplay />
			</div>
		}
		else if (invite is not null && Input is not null)
		{

			<div class="p-3">
				<StatusMessage Message="@Message" />
				<EditForm Model="Input"
						  asp-route-returnUrl="@ReturnUrl"
						  method="post"
						  OnValidSubmit="RegisterUser"
						  FormName="register"
						  enctype="multipart/form-data">
					<DataAnnotationsValidator />
					<MudText Typo="Typo.h2"
							 Color="Color.Primary"
							 Class="mt-2"
							 GutterBottom>
						Welcome to <strong>@invite?.Company!.Name</strong>, <strong>@invite?.InviteeFirstName</strong>!
					</MudText>
					<hr />
					<div class="mb-5">
						<Instructions Title="Create Your Account"
									  Message=@($"You've been invited by {invite!.Invitor!.FirstName} {invite!.Invitor!.LastName}. To join, please register here.")
									  StartIcon="@Icons.Material.Filled.PersonAdd" />
					</div>

					<AnimatedBlock Index="@Index.Next()">
						<div class="mb-3">
							<MudTextField id="firstName"
										  @bind-Value="Input.FirstName"
										  name="Input.FirstName"
										  aria-required="true"
										  For="() => Input!.FirstName"
										  Label="First Name"
										  Variant="Variant.Outlined"
										  ShrinkLabel />
						</div>
					</AnimatedBlock>
					<AnimatedBlock Index="@Index.Next()">
						<div class="mb-3">
							<MudTextField id="lastName"
										  @bind-Value="Input.LastName"
										  name="Input.LastName"
										  aria-required="true"
										  For="() => Input!.LastName"
										  Label="Last Name"
										  Variant="Variant.Outlined"
										  ShrinkLabel />
						</div>
					</AnimatedBlock>
					<AnimatedBlock Index="@Index.Next()">
						<div class="mb-3">
							<MudTextField id="email"
										  @bind-Value="Input.Email"
										  name="Input.Email"
										  aria-required="true"
										  For="() => Input!.Email"
										  Label="Email"
										  autocomplete="username"
										  Variant="Variant.Outlined"
										  ShrinkLabel />
						</div>
					</AnimatedBlock>
					<AnimatedBlock Index="@Index.Next()">
						<div class="mb-3">
							<PasswordField @bind-Value="Input.Password"
										   name="Input.Password"
										   Label="Password" />
							<ValidationMessage For="() => Input.Password" />
						</div>
					</AnimatedBlock>
					<AnimatedBlock Index="@Index.Next()">
						<div class="mb-3">
							<PasswordField @bind-Value="Input.ConfirmPassword"
										   name="Input.ConfirmPassword"
										   Label="Confirm Password" />
							<ValidationMessage For="() => Input.ConfirmPassword" />
						</div>
					</AnimatedBlock>

					<AnimatedBlock Index="@Index.Next()">
						<MudField Class="mb-3" Label="Profile Picture" Variant="Variant.Outlined">
							<div class="h-stack gap-3">
								<img src="@UploadHelper.DefaultProfilePictureUrl"
									 id="profilePicPreview"
									 style="object-fit: cover; height: 48px; width: 48px; border-radius: 50%" />
								<div>
									<input type="file" class="form-control"
										   name="Input.ProfilePicture"
										   accept=".jpg, .jpeg, .png .svg .gif"
										   onchange="document.getElementById('profilePicPreview').src = window.URL.createObjectURL(this.files[0])" />
								</div>
							</div>
						</MudField>
					</AnimatedBlock>
					<AnimatedBlock Index="@Index.Next()">
						<SubmitBtn ButtonType="ButtonType.Submit"
								   Size="Size.Large"
								   Class="my-3 w-100"
								   Title="Register"
								   Color="Color.Secondary"
								   DisplayText="Register" />
					</AnimatedBlock>
				</EditForm>
			</div>
		}
	</AnimatedCard>
</div>


@code {
	private IEnumerable<IdentityError>? identityErrors;
	private Invite? invite;

	[SupplyParameterFromForm]
	private InputModel? Input { get; set; }

	[SupplyParameterFromQuery]
	private string? ReturnUrl { get; set; }

	[SupplyParameterFromQuery]
	private string? Token { get; set; }
	[SupplyParameterFromQuery]
	private string? Email { get; set; }
	[SupplyParameterFromQuery]
	private string? Company { get; set; }

	private IndexTrackerHelper Index = new();
	private bool inviteError;

	private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";
	private void ResetIndex() => IndexTracker.Reset();

	protected override async Task OnInitializedAsync()
	{
		ResetIndex();

		try
		{
			//check for valid query parameters
			if (string.IsNullOrEmpty(Token)
						|| string.IsNullOrEmpty(Email)
						|| string.IsNullOrEmpty(Company))
			{
				inviteError = true;
				return;
			}
			invite = await InviteRepository.GetValidInviteAsync(Token, Email, Company);

			if (invite is null)
			{
				inviteError = true;
				return;
			}
			//pre-fill form fields with invitee data
			//only if Input is null (i.e., first time loading the form)
			Input ??= new InputModel()
			{
				Email = invite.InviteeEmail!,
				FirstName = invite.InviteeFirstName!,
				LastName = invite.InviteeLastName!
			};


		}
		catch (Exception ex)
		{
			Console.WriteLine(ex);
		}
	}

	public async Task RegisterUser(EditContext editContext)
	{
		if (invite is null)
		{
			inviteError = true;
			return;
		}

		var user = CreateUser();
		user.FirstName = Input!.FirstName;
		user.LastName = Input.LastName;
		//assign the user to the company from the invite
		user.CompanyId = invite!.CompanyId;


		await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
		var emailStore = GetEmailStore();
		await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
		//attempt to create the user
		var result = await UserManager.CreateAsync(user, Input.Password);

		if (!result.Succeeded)
		{
			identityErrors = result.Errors;
			return;
		}
		//by default, assign the new user the "Submitter" role
		//additional roles can be assigned later by an admin
		await UserManager.AddToRoleAsync(user, nameof(Role.Submitter));

		Logger.LogInformation("User created a new account with password.");

		//handle profile picture upload if provided
		if (Input.ProfilePicture is not null)
		{
			try
			{
				FileUpload profilePic = await UploadHelper.GetFileUploadAsync(Input.ProfilePicture);
				user.ProfilePicture = profilePic;
				_context.Uploads.Add(profilePic);
				_context.Users.Update(user);
				await _context.SaveChangesAsync();
			}
			catch (Exception ex)
			{
				//register the user with default image if upload fails; user can update it later
				Console.WriteLine($"Error uploading image: {ex.Message}");
			}
		}
		//send email confirmation
		var userId = await UserManager.GetUserIdAsync(user);
		var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
		code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
		var callbackUrl = NavigationManager.GetUriWithQueryParameters(
			NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
			new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

		await EmailSender.SendConfirmationLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

		//assign user to invited project
		ApplicationUser? admin = (invite.Invitor ?? await UserManager.FindByIdAsync(invite.InvitorId!));
		ClaimsPrincipal adminClaims = await ClaimsFactory.CreateAsync(admin!); //ensure admin claims are loaded
		UserInfo adminUserInfo = UserInfoHelper.GetUserInfo(adminClaims)!;
		await ProjectRepository.AddProjectMemberAsync(invite.ProjectId, userId, adminUserInfo);

		//invalidate the used invite, marking it as 'accepted'
		await InviteRepository.AcceptInviteAsync(invite.Id, user);

		if (UserManager.Options.SignIn.RequireConfirmedAccount)
		{
			RedirectManager.RedirectTo(
				"Account/RegisterConfirmation",
				new() { ["email"] = Input.Email, ["returnUrl"] = ReturnUrl });
		}

		await SignInManager.SignInAsync(user, isPersistent: false);
		RedirectManager.RedirectTo(ReturnUrl);
	}

	private ApplicationUser CreateUser()
	{
		try
		{
			return Activator.CreateInstance<ApplicationUser>();
		}
		catch
		{
			throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
				$"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
		}
	}

	private IUserEmailStore<ApplicationUser> GetEmailStore()
	{
		if (!UserManager.SupportsUserEmail)
		{
			throw new NotSupportedException("The default UI requires a user store with email support.");
		}
		return (IUserEmailStore<ApplicationUser>)UserStore;
	}


	private sealed class InputModel
	{
		[Required]
		[StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 2)]
		[Display(Name = "First Name")]
		public string FirstName { get; set; } = "";

		[Required]
		[StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 2)]
		[Display(Name = "Last Name")]
		public string LastName { get; set; } = "";

		[Required]
		[EmailAddress]
		[Display(Name = "Email")]
		public string Email { get; set; } = "";

		[Required]
		[StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
		[DataType(DataType.Password)]
		[Display(Name = "Password")]
		public string Password { get; set; } = "";

		[DataType(DataType.Password)]
		[Display(Name = "Confirm password")]
		[Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
		public string ConfirmPassword { get; set; } = "";

		public IFormFile? ProfilePicture { get; set; }
	}
}
