@* ProjectCard.razor *@

@inject NavigationManager NavManager

@if (Project is not null)
{
    <AnimatedCard Index="Index" OnClick="NavigateToDetails">
        <MudCardHeader>
            <CardHeaderContent>
                <SafeNavLink Typo="Typo.h5"
                             Href="@($"projects/{Project.Id}")"
                             Valid="@(Project?.Id is not null)"
                             Class="d-block">
                    @Project?.Name
                </SafeNavLink>
                <ProjectDates StartDate="Project?.StartDate" EndDate="Project?.EndDate" />
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            @if (Project.Members is null)
            {
                <LoadingSpinner />
            }
            else if (Project.Members?.Count == 0)
            {
                <NotFoundDisplay Message="No project members assigned" />

            }
            else
            {
                <div class="h-100 d-flex align-items-center justify-content-center">

                    <MudAvatarGroup Max="5"
                                    MaxColor="Color.Secondary">
                        @foreach (AppUserDTO member in Project.Members!)
                        {
                            <MudAvatar>
                                <MudTooltip Text="@member.FullName" Arrow>
                                    <MudImage Src="@member.ImageUrl"
                                              Alt="@member.FullName"
                                              Height="40" />
                                </MudTooltip>
                            </MudAvatar>
                        }

                    </MudAvatarGroup>


                </div>
            }

        </MudCardContent>
        <MudCardActions>

            <ProjectPriorityChip Priority="Project.Priority" />

            <LinksBtn Text="Details"
                      Href="@($"/projects/{Project.Id}")"
                      Disabled="@(Project is null)" />

        </MudCardActions>

    </AnimatedCard>
}


@code {

    [Parameter, EditorRequired]
    public ProjectDTO? Project { get; set; }

    [Parameter]
    public int Index { get; set; }//passed from parent to control Animation delay


    private void NavigateToDetails()
    {
        if (Project is null) return;

        NavManager.NavigateTo($"/projects/{Project?.Id}");
    }

}
