@* Instructions *@
<MudPaper Class="p-2 mb-3 drag-hint d-flex align-items-center"
		  Elevation="1">
	<MudIcon Icon="@StartIcon"
			 Color="@Color1"
			 Class="me-2" />
	<div>
		<MudText Typo="@Typo1"
				 Color="@Color1"
				 Class="fw-semibold mb-0">
		        @Title
		</MudText>
		<MudText Typo="@Typo2"
				 Color="@Color2">
			@Message
		</MudText>
	</div>
</MudPaper>

@code {
	[Parameter, EditorRequired]
	public string Title { get; set; } = string.Empty;
	[Parameter, EditorRequired]
	public string Message { get; set; } = string.Empty;

	[Parameter]
	public string? StartIcon { get; set; }
	[Parameter]
	public Color Color1 { get; set; } = Color.Dark;
	[Parameter]
	public Color Color2 { get; set; } = Color.Dark;
	[Parameter]
	public Typo Typo1 { get; set; }
	[Parameter]
	public Typo Typo2 { get; set; } = Typo.caption;
	[Parameter]
	public string? Class { get; set; }
	
}
